<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeLeaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/registrar.css">
    </head>

    <body>
        <header>
            <div class="logo">
                <img src="img/logo kash.png" alt="">
                <h1>KASH</h1>
            </div>
        </header>
        <form id="myForm" onsubmit="validarFormulario(event)" th:action="@{/guardarUsuario}" th:object="${nuevoUsuario}" method="POST">
            <h4>DATOS PERSONALES</h4>
            <p>Rol: </p>
            <div class="imagen">
                <select class="Pregunta" name="rolSeleccionado" id="rolSeleccionado" th:field="*{rolSeleccionado}">
                    <option value="">Seleccionar rol</option>
                    <option value="asesor">Asesor</option>
                    <option value="aprendiz">Aprendiz</option>
                </select>
            </div>
            <label for="name">
                <p>Nombre completo: </p>
                <input id="name" class="Pregunta" type="text" name="name" placeholder="Nombre completo" th:field="*{nombres}">
            </label>
            <label for="first_Lastname">
                <p>Primer apellido: </p>
                <input id="first_Lastname" class="Pregunta" type="text" name="first_Lastname" placeholder="Primer apellido" th:field="*{primerA}">
            </label>
            <label for="second_Lastname">
                <p>Segundo apellido: </p>
                <input id="second_Lastname" class="Pregunta" type="text" name="second_Lastname" placeholder="Segundo apellido" th:field="*{segundoA}">
            </label>
            <label for="date_of_birth">
                <p>Fecha de nacimiento: </p>
                <input id="date_of_birth" class="Pregunta" type="date" name="date_of_birth" placeholder="Fecha de nacimiento" th:field="*{fNacimiento}">
            </label>
            <label for="Tipo_Documento">
                <p>Tipo de documento: </p>
                <input id="Tipo_Documento" class="Pregunta" list="Tipo" name="Tipo_Documento" placeholder="Tipo de documento" th:field="*{tDocumento}">
                <datalist id="Tipo">
                    <option value="Cédula extranjera"></option>
                    <option value="Cédula de ciudadanía"></option>
                    <option value="Tarjeta de identidad"></option>
                </datalist>
            </label>
            <label for="Numero_Documento">
                <p>Número del documento: </p>
                <input id="Numero_Documento" class="Pregunta" type="number" name="Numero_Documento" placeholder="Número de documento" th:field="*{idUsuario}">
            </label>
            <label for="Trimestre">
                <p>Trimestre al que pertenece: </p>
                <select class="Pregunta" name="Trimestre" id="Trimestre"th:field="*{trimestre}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>
            </label>

            <h4>DATOS DE CONTACTO</h4>
            <label for="correo">
                <p>Correo electronico: </p>
                <input id="correo" class="Pregunta" type="email" name="correo" placeholder="Correo" th:field="*{correo}">
            </label>
            <label for="confirmar_correo">
                <input id="confirmar_correo" class="Pregunta" type="email" name="confirmar_correo" placeholder="Confirmar correo" >
            </label>
            <label for="numero_telefonico">
                <p>Número de contacto: </p>
                <input id="numero_telefonico" class="Pregunta" type="number" name="numero_telefonico" placeholder="Número Telefónico" th:field="*{numero}" >
            </label>

            <h4>Crear cuenta</h4>
            <label for="usuario">
                <p>Usuario:</p>
                <input id="usuario" class="Pregunta" type="text" name="usuario" placeholder="Usuario"th:field="*{usuario}">
            </label>
            <label for="contraseña">
                <p>Contraseña: </p>
                <input id="contraseña" class="Pregunta" type="password" name="contraseña" placeholder="Contraseña" th:field="*{pass}">
            </label>
            <label for="Confirmar_contraseña">
                <input id="Confirmar_contraseña" class="Pregunta" type="password" name="Confirmar_contraseña" placeholder="Confirmar contraseña">
            </label>
            <button type="submit" class="boton">Registrar</button>
            <p class="centrado"><a th:href="@{/index}">¿Ya tengo cuenta?</a></p>
        </form>

    </body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            function validarFormulario(event) {
                event.preventDefault(); // Prevenir el envío del formulario si hay errores

                // Obtener elementos del formulario
                var rolSeleccionado = document.getElementById("rolSeleccionado");
                var name = document.getElementById("name");
                var first_Lastname = document.getElementById("first_Lastname");
                var tipoDocumento = document.getElementById("Tipo_Documento");
                var numeroDocumento = document.getElementById("Numero_Documento");
                var trimestre = document.getElementById("Trimestre");
                var correo = document.getElementById("correo");
                var confirmar_correo = document.getElementById("confirmar_correo");
                var numero = document.getElementById("numero_telefonico");
                var nombre = document.getElementById('usuario');
                var contraseña = document.getElementById('contraseña');
                var confirmar_contraseña = document.getElementById('Confirmar_contraseña');
                var SoloLetras = /^[a-zA-Z]+$/;

                // Eliminar mensajes de error anteriores
                rolSeleccionado.classList.remove('campo-olbigatorio');
                name.classList.remove('campo-obligatorio');
                first_Lastname.classList.remove('campo-obligatorio');
                tipoDocumento.classList.remove('campo-obligatorio');
                numeroDocumento.classList.remove('campo-obligatorio');
                trimestre.classList.remove('campo-obligatorio');
                correo.classList.remove('campo-obligatorio');
                confirmar_correo.classList.remove('campo-obligatorio');
                numero.classList.remove('campo-obligatorio');
                nombre.classList.remove('campo-obligatorio');
                contraseña.classList.remove('campo-obligatorio');
                confirmar_contraseña.classList.remove('campo-obligatorio');

                let valid = true;

                // Validaciones
                if (rolSeleccionado.value.trim() === '') {
                    rolSeleccionado.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (name.value.trim() === '') {
                    name.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (first_Lastname.value.trim() === '') {
                    first_Lastname.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (tipoDocumento.value.trim() === '') {
                    tipoDocumento.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (numeroDocumento.value.trim() === '') {
                    numeroDocumento.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (trimestre.value.trim() === '') {
                    trimestre.classList.add('campo-obligatorio');
                    valid = false;
                }

                if (correo.value.trim() === '') {
                    correo.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (confirmar_correo.value.trim() === '') {
                    confirmar_correo.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (numero.value.trim() === '') {
                    numero.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (correo.value.trim() !== confirmar_correo.value.trim()) {
                    alert('El correo no coincide.');
                    correo.classList.add('campo-obligatorio');
                    confirmar_correo.classList.add('campo-obligatorio');
                    valid = false;
                }

                if (nombre.value.trim() === '') {
                    nombre.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (contraseña.value.trim() === '') {
                    contraseña.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (confirmar_contraseña.value.trim() === '') {
                    confirmar_contraseña.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (!SoloLetras.test(nombre.value)) {
                    alert('El nombre de usuario debe contener solo letras.');
                    nombre.classList.add('campo-obligatorio');
                    valid = false;
                }
                if (contraseña.value.trim() !== confirmar_contraseña.value.trim()) {
                    alert('La contraseña no coincide.');
                    contraseña.classList.add('campo-obligatorio');
                    confirmar_contraseña.classList.add('campo-obligatorio');
                    valid = false;
                }

                // Validación para asegurarse de que la fecha de nacimiento sea mayor a 18 años si el tipo de documento es "Cédula de ciudadanía" o "Cédula extranjera"
                if (tipoDocumento.value === "Cédula de ciudadanía" || tipoDocumento.value === "Cédula extranjera") {
                    var fechaNacimiento = document.getElementById("date_of_birth");
                    var fechaNacimientoValue = new Date(fechaNacimiento.value);
                    var fechaActual = new Date();
                    var edad = fechaActual.getFullYear() - fechaNacimientoValue.getFullYear();
                    var mes = fechaActual.getMonth() - fechaNacimientoValue.getMonth();
                    if (mes < 0 || (mes === 0 && fechaActual.getDate() < fechaNacimientoValue.getDate())) {
                        edad--;
                    }

                    if (edad < 18) {
                        alert('Debe ser mayor de 18 años para registrar una cédula de ciudadanía o extranjera.');
                        fechaNacimiento.classList.add('campo-obligatorio');
                        valid = false;
                    }
                }

                if (!valid) {
                    alert('Por favor, complete todos los campos obligatorios.');
                    return false;
                }

                // Si todo es válido, permitir el envío
                document.getElementById("myForm").submit();
                alert('Usuario creado con éxito');
            }

            // Llamada al evento de validación cuando se intente enviar el formulario
            document.getElementById("myForm").addEventListener("submit", validarFormulario);
        });


    </script>

</html>
